@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white flex flex-col items-center justify-center min-h-screen;
}

/*
*{
margin:0;
padding:0;
box-sizing:border-box;
margin-top: 2px;
margin-bottom: 2px;
margin-left: 2px;
margin-right: 2px; 
padding-left:0;
padding-right:0;
padding-top:0;
padding-bottom:0;
width:100vw;
height:100vh;
border:1px solid black;
border-radius:1rem;

}

.head:hover{
cursor:pointer; 
}
*/

 